/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485 */



/*  this resets the browser so every browser displays the page the same way */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box changes the box model so borders and paddings are no longer added to the height/width */
    box-sizing: border-box;   
}

/* properties related to font are inherited so we're setting up inheritance here */
/* everything related to font we want to set up in the body */
body {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    /* padding gives the whole page a small white border */
    padding: 30px
}

.header {
    /* this says 'at everypoint the height of this box should be 95% of the viewport */
    height: 95vh;
    background-image: 
    linear-gradient(
          to right bottom,  
         hsla(111, 55%, 64%, 0.801), 
         hsla(160, 64%, 43%, 0.801)), 
         url(../img/hero.jpg);
         /* cover fits the element into the width of the view port */
    background-size: cover;
    /* crops bottom when image is re-sized and responsive. */
    background-position: top;
    /* clip path allows us to clip off the bottom diagonal making it that cool polygon shape */
    /* polygon takes the four pairs of x,y coordinates where you want the box to be */
    /* top left corner will be the refernce or starting point so it's 0 0 */
    /* polygon(top-left x axis top-left y axis, top-right x top-right y, bottom-right x bottom-right y, bottom-left x bottom-left y */
    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 100%)

}